* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 1.5rem;
}

h1{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

header ul{
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    list-style: none;
    
}

header ul li{
    justify-content: space-evenly;
    padding: 0.5rem;
}

header ul li a{
    text-decoration: none;
    color: aliceblue;
}

.home{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-top: 1rem; */
    /* border: 2px solid red; */
}

figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    /* border: 2px solid red; */
}

figure img{
    /* border: 2px solid red; */
    border-radius: 10rem;
    border: 5px solid black;
}

figure figcaption{
    /* border: 2px solid red; */
    padding-top: 1rem;
    text-align: center;
}

.nametag{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: 2px solid red; */
    justify-content: center;
}

.nametag h2{
    font-size: 3rem;
    float: right;
    /* border: 2px solid red; */
    text-align: center;
}

.nametag p{
    width: 100%;
    text-align: center;
    /* border: 2px solid red; */
    padding-top: 1rem;
}

.projects{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/* .project-head{
    height: 100%;
    top: 0;
    left: 0;
    width: 50%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: fixed;
    z-index: 1;
} */

.project-head-2{
    height: 100%;
    top: 0;
    left: 0;
    position: sticky;
    font-size: 3.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.project-body{
    background-color: #fff;
}

.project-each{
    padding: 10px;
    /* border: 2px solid red; */
}

/* .project-each h3{
    padding-bottom: 1rem;
} */

.project-each p{
    padding-bottom: 1rem;
}
